@import url("styles/header.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/footer.css");

:root{
    --cor-de-fundo: #f5f4f1;
    --branco: #ffffff;
    --cor-texto-principal:#EEE7DA;
    --fonte-principal: "Poppins";
    --verde-claro: #AFC8AD;
    --fonte-secundaria:"Josef Sans";
    --preto: #000000;
    --verde: #88AB8E;
    --cinza-claro: #858585;
    --cor-fonte-chamativa: #7f4bdfef;
    --cor-fonte-preco: #5d9266;
}


body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}